/* Uncommon Knowledge Stylesheet by Hayley Gregg */



/* RESET */


* {
    margin: 0;
    padding: 0;
    font-size: 100%;

}



/* STYLE */


body {
    
    width: 100%;
    font-family: 'Raleway', Helvetica Neue, Helvetica, sans-serif;
    background-color: #0E1030; /* websafe colour of brand colour #0A1835 */
    font-size: 62.5%; /* 1em = 10px */
    
}



header#page1 img {
    
    width: 300px;
    display: block;
    margin: auto;
    padding-top: 150px;
    
    
}


/*
header#page1 h1, header#page1 h2 {
    
    color: #77CDD8;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;

    
}
*/


h1, h2 {
    
    color: #77CDD8;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;

    
}



header#page1 h1 {
    
        padding-top: 40px;
        font-size: 4.236em;
    
}


header#page1 h2 {
    
        padding-top: 10px;
        font-size: 2.618em;
    
}


span.thin {
    
    font-weight: 200;
    
    
}

header#page1 {
    
    width: 100%;

    
    
}




#main {
    
    margin-top: 300px;
    
}


#main h1 {
    
    
    font-size: 2.618em;
    
    
}


.text {
    
    width: 100%;
    padding: 80px 0 150px 0;
    background-image: url(images/maze-decor.png);   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 
/*    border-bottom: 1px solid white;*/
}


.text2 {
    
    width: 100%;
    padding: 80px 0 150px 0;
    background-image: url(images/maze-decor2.png);   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 150px; 
/*    border-bottom: 1px solid white;*/
}


.text p {
    
    color: #77CDD8;
    width: 55%;
    margin: auto;
    font-size: 2em; /* 1.618em too small */
    line-height: 1.5;
       
}



.text2 p {
    
    color: #77CDD8;
    width: 55%;
    margin: auto;
    font-size: 2em; /* 1.618em too small */
    line-height: 1.5;
       
}

#about p#break {
    
    margin-top: 20px;
    
}


#mission, #vision, #strapline, #visual-identity, #logo {
    
    margin-top: 250px; /* seporator! */
    
}


#strapline img {
    
    width: 60px;
    display: block;
    margin-left: 280px;
    
}


#strapline .text2 #quote {
    

  background-image: url(images/quote.png);
  background-repeat: no-repeat;
  background-position: 50px 0;
  padding-top: 40px;
    
    
}




#strapline .text2 p {
    
    
    text-transform: uppercase;
    text-align: center;
    font-size: 2.618em;
    
    
}


#visual-identity {
    
    
    font-size: 2em;
    background-image: url(images/maze-decor.png);   
    background-repeat: no-repeat;
    background-position: right bottom;
    
}

#visual-identity header {
    
    padding: 400px;
    background-image: url(images/maze-decor2.png);   
    background-repeat: no-repeat;
    background-position: left middle;
    
    
}


.text-left, .images-right {
    
    width: 450px; /* might have to change due to padding etc. */
    
}


.text-left {
    
    float: left;
    font-size: 1.618em;
    line-height: 1.5;
    font-weight: 300;
    color: #77CDD8;
    padding: 80px;
    padding-top: 20px;
/*    width: 400px;*/
    background-color: inherit;
    
    
}



.images-right {
    
    float: left;
    padding: 80px;
    background-color: white;
    
    
}

#logo h1 {
    
    text-align: left;
    text-transform: none;
    font-size: 2em;
    padding: 20px 0;
    
}







