/* Uncommon Knowledge Stylesheet by Hayley Gregg */



/* RESET */


* {
    
    margin: 0;
    padding: 0;
    font-size: 100%;
    
}



/* STYLE */


body {
    
    width: 100%;
    font-family: 'Raleway', Helvetica Neue, Helvetica, sans-serif;
    background-color: #0E1030; /* websafe colour of brand colour #0A1835 */
    font-size: 62.5%; /* 1em = 10px */   
    
}





header#page1 img {  
    
    width: 300px;
    display: block;
    margin: auto;
    padding-top: 150px;  
    
}



h1, h2 {   
    
    color: #77CDD8;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    
}



header#page1 h1 {
    
    padding-top: 40px;
    font-size: 4.236em;
    
}


header#page1 h2 {
    
    padding-top: 10px;
    font-size: 2.618em;
    
}


span.thin {
    
    font-weight: 200;
    
}

header#page1 {

    width: 100%;

}




#main {

    margin-top: 300px;

}


#main h1 {
    
    font-size: 2.618em;

}


.text {
    
    padding: 80px 0 150px 0;
    background-image: url(images/maze-decor.png);   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 

}



.text2 {
    
    padding: 80px 0 330px 0; /* was 150 bottom then 250 but forgot to add 80px to make equal to top */
    background-image: url(images/maze-decor2.png);   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 150px; 

}

#moreinfo-text {

    width: 100%;
    padding: 80px 0 150px 0;

}


.text p, .text2 p, #moreinfo p {

    color: #77CDD8;
    width: 55%;
    margin: auto;
    font-size: 2em; /* 1.618em too small */
    line-height: 1.5;

}

#moreinfo p, #moreinfo footer {

    text-align: center;

}


#moreinfo footer {

    color: #77CDD8;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-size: 1.2em;

}



a {

    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #77CDD8;

}


a:hover {

    color: #AFD691;
    text-decoration: none;
    border-bottom: 1px solid #AFD691;

}



p.break {

    margin-top: 20px;

}





#logo {

    padding-top: 80px;
    
}



#strapline .text2 #quote {
    
    width: 800px; /* added */
    background-image: url(images/quote.png);
    background-repeat: no-repeat;
    background-position: 60px 0; /* changed */
    padding-top: 40px;

}




#strapline .text2 p {

    text-transform: uppercase;
    text-align: center;
    font-size: 2.618em;

}


#visual-identity {

    font-size: 2em;
    background-image: url(images/maze-decor.png);   
    background-repeat: no-repeat;
    background-position: right bottom;

}

#visual-identity header {

    padding: 400px 0;
    background-image: url(images/maze-decor2.png);   
    background-repeat: no-repeat;
    background-position: left middle;

}


.images {

    width: 100%;
    padding: 80px 0;
    background-color: white;

}

.images img {

    width: 400px; /* was 40% */
    display: block;
    margin: auto;
    padding: 40px;
    

}


/*


THIS CODE ENLARGES IMAGES WHEN MOUSE HOVERS OVER - DONT THINK I LIKE IT


.images img:hover { 

-webkit-transform: scale(1.5) translateZ(0);
-moz-transform: scale(1.5) translateZ(0);
-o-transform: scale(1.5) translateZ(0);
transform: scale(1.5) translateZ(0);
cursor: pointer;

}
*/




/* BELOW NEEDED FOR ALL SECTIONS AFTER LOGO */


#mission, #vision, #strapline, #visual-identity, #logo-anat, #workshops, #dodont, #colour, #type, #icons, #mazes, #literature, #pattern, #lingo, #moreinfo {

/* seporator! */

    margin-top: 100px; /* was 250 but changed to add padding so writing in middle when for e.g. the colour link is clicked */
    padding-top: 150px;


}



#logo h1, #logo-anat h1, #workshops h1, #dodont h1, #colour h1, #type h1, #icons h1, #mazes h1, #literature h1, #pattern h1, #lingo h1, #moreinfo h1 /* overwrighting #main h1  */ {

    text-transform: none;
    font-size: 3em;
    padding: 20px 0 40px 0;

}



#logo-anat .text, #workshops .text2, #dodont .text, #colour .text2, #type .text, #icons .text2, #mazes .text, #literature .text2, #pattern .text, #lingo .text2, #moreinfo div#moreinfo-text {

    padding: 80px 0 330px 0;

}








